<%= erb :'shared/_nav' %>




<form method="post" action="/logout">
  <input type="submit" value="Logout">
</form>

<button id="mainBtn">Main</button>


<div class="gallery cf row">
<p class="title"><%= @view_user.username %></p>
<% @photos.order(created_at: :desc).each do |photo| %>
<div class="photo-container col-md-10 col-md-offset-1" style="background-image: url(<%= photo.url %>)">
<a href="/photos/<%= photo.id %>"><button class="btn btn-primary like" role="button">
      <span class="glyphicon glyphicon-resize-full">  Expand  </span></button></a>
      <button class="btn btn-primary count" type="submit" value="Like">
      <span class="glyphicon glyphicon-fire">  
        <%= photo.votes.size %>
      </span>
    </button>
    <img src="<%= @view_user.profile_photo %>" alt="..." class="img-thumbnail prof">
</div>
<% end %>
</div>

