<h3>Hello <%= @current_user.username %> User: <%= @current_user.id %></h3>

<img src="<%= @photo.url %>" >

<form method="post" action="/vote/<%= @photo.id %>">
  <input type="submit" value="Vote">
</form>

<h3>Number of Votes: <%= @photo.votes.size %></h3> 



