<%= erb :'shared/_nav' %>






<div class="gallery cf row">
  <p class="title"><%= @photo.description %></p>
    <div class="photo-container col-md-10 col-md-offset-1" style="background-image: url(<%= @photo.url %>)">
      <form method="post" action="/vote/<%= @photo.id %>">
        <button class="btn btn-primary like" type="submit" value="Like">
          <span class="glyphicon glyphicon-thumbs-up">  
          Like  
          </span>
        </button>
      </form>
    <button class="btn btn-primary count" type="submit" value="Like">
      <span class="glyphicon glyphicon-fire">  
        <%= @photo.votes.size %>
      </span>
    </button>
  </div>
</div>




